name: Build and Release (Windows)

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish single-file (framework-dependent)
        run: >
          dotnet publish
          -c Release
          --no-build
          -p:PublishSingleFile=true
          -p:SelfContained=false
          -p:PublishTrimmed=true
          -p:PublishReadyToRun=false
          -p:EnableCompressionInSingleFile=true
          -p:DebugType=None
          -o ./publish


      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: publish/*.exe
